<div class="full-center-wrapper container">
    <div class="content">
      <!-- left side form -->
      <div class="left-content">
        <i class="bi bi-arrow-left"></i>
        <p class="ros"><i class="bi bi-dash-lg"></i>Rate our services</p>
        <p class="left-header">Fill the form to submit your feedback</p>
        <div class="image-wrapper">
          <img src="assets/ratingsimage.svg" alt="Rating">
        </div>
        <p class="text-muted">we'd love to hear yours thoughts! Your feedback helps us improve and serve you better</p>
      </div>
    
      <!-- rigth side form -->
      <div class="right-content">
        <form  #reviewForm="ngForm" (ngSubmit)="onSubmit(reviewForm)">
          <p>Review for &nbsp;<strong>Benny Spanbauer</strong></p>
          <div class="mb-3">
            <label for="" class="form-label icon"><i class="bi bi-person"></i>Name</label>
            <input type="text" name="name" [(ngModel)]="reviewData.name" class="form-control" placeholder="John Carter">
          </div>
  
          <div class="mb-3">
            <label for="" class="form-label icon"><i class="bi bi-envelope"></i>Email</label>
            <input type="email" name="email" [(ngModel)]="reviewData.email" class="form-control" placeholder="John@gmail.com">
          </div>
  
          <div class="mb-3">
            <label for="" class="form-label icon">Our Service Rating</label>            
            <div class="star-rating">
              <input type="radio" id="star5" name="rating" [(ngModel)]="reviewData.rating" value="5" #rating="ngModel" required>
              <label for="star5" title="5 stars">★</label>

              <input type="radio" id="star4" name="rating" [(ngModel)]="reviewData.rating" value="4">
              <label for="star4" title="4 stars">★</label>

              <input type="radio" id="star3" name="rating" [(ngModel)]="reviewData.rating" value="3">
              <label for="star3" title="3 stars">★</label>

              <input type="radio" id="star2" name="rating" [(ngModel)]="reviewData.rating" value="2">
              <label for="star2" title="2 stars">★</label>

              <input type="radio" id="star1" name="rating" [(ngModel)]="reviewData.rating" value="1">
              <label for="star1" title="1 star">★</label>
            </div>
          </div>
          <div class="text-danger" *ngIf="rating.invalid && rating.touched">
            *Please Select stars
          </div>
  
          <div class="mb-3">
            <label for="" class="form-label icon">Additional feeback</label>
            <textarea id="textarea" name="feedback" [(ngModel)]="reviewData.review_text" class="form-control" placeholder="Share details of your own experience..." #feedback="ngModel" required></textarea>
            <div class="text-danger" *ngIf="feedback.touched && feedback.invalid">
              *Feedback is required
            </div>
          </div>
            
          <div class="subit-btn">
             <button type="submit" class="btn btn-primary btn-submit">Submit Feedback</button>
          </div>
  
  
        </form>
      </div>
  
    </div>
  </div>
