<div class="container">
    <div class="image1">
        <img src="assets/acsettings/Rectangle1.png" alt="">
    </div>
    <div class="header d-flex gap-5">
        <div class="icon">
            <i class="bi bi-arrow-left"></i>
        </div>
        <div class="texts">
            <p class="bold-text">Account Settings</p>
            <p class="description">Edit your name , email etc...</p>
        </div>
        <div class="image2">
            <img src="assets/acsettings/Rectangle2.png" alt="">
        </div>
    </div>

    <div class="card">

        <div class="main">
            <div class="name-plate">
                <p class="name">Name</p>
                <p class="email">Emailgmail.com</p>
            </div>
    
            <hr>
    
            <div class="content-form">
                <form>
                    <div class="mb-2">
                        <label for="" class="form-label">Name</label>
                        <div class="position-relative">
                            <input type="text" class="form-control pe-5" name="name" placeholder="Purshu">
                            <i class="bi bi-pencil position-absolute top-50 translate-middle-y"></i>
                        </div>
                    </div>
    
                    <div class="mb-2">
                        <label for="" class="form-label">Email Address</label>
                        <div class="position-relative">
                            <input type="email" class="form-control pe-5" name="email_address" placeholder="Purshu@gmail.com">
                            <i class="bi bi-pencil position-absolute top-50 translate-middle-y"></i>
                        </div>
                    </div>
    
                    <div class="mb-2">
                        <label for="" class="form-label">Phone Number</label>
                        <div class="position-relative">
                            <input type="text" class="form-control pe-5" name="phone_number" placeholder="1234567890">
                            <i class="bi bi-pencil position-absolute top-50 translate-middle-y"></i>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="password" class="form-label">Password</label>
                        <div class="position-relative">
                          <input type="password" class="form-control pe-5" id="password" name="password"placeholder="password"/>
                          <i class="bi bi-eye-slash position-absolute top-50 translate-middle-y"></i>
                          <i class="bi bi-pencil position-absolute top-50 translate-middle-y"></i>
                        </div>
                      </div>
                      
    
                    <div class="button text-center mt-3">
                        <button> Logout</button>
                    </div>
    
                    <div class="text-center mt-3 help">
                        <a href="">Need Help? contact us</a>
                    </div>
                </form>
    
            </div>
        </div>
    </div>
</div>

