<div class="container-fluid">

    <div class="content-header row d-flex align-items-center">
        <div class="left-content col-md-6">
            <div class="text">
                <p class="header">Contact Us</p>
                <p class="description"> Want to get in touch ? we'd love to hear from you. Here's how you can reach us</p>
            </div>
        </div>
    
        <div class="image col-md-6 text-md-end text-center mt-4 mt-md-0">
            <img src="assets/contact/Ellipse.png" alt="Image">
        </div>
    </div>
    <div class="cntnr">
        <div class="content mt-5">
            <div class="main d-flex gap-5">
                <div class="card contactInfo p-4">
                    <div class="card-header">
                        <p class="bold-text">Contact Information</p>
                        <p class="description">Need immediate help or prefer to talk to us directly? We're happy to assist you personally.</p>
                    </div>
                    
                    <div class="card-body d-flex gap-4">
                        <div class="icon">
                            <i class="bi bi-telephone-fill"></i>
                        </div>
                        <div class="card-details">
                            <p class="title">Phone Number:</p>
                            <p class="text">+1012 3456 789</p>
                        </div>
                    </div>
    
                    <div class="card-body d-flex gap-4">
                        <div class="icon">
                            <i class="bi bi-envelope-fill"></i>
                        </div>
                        <div class="card-details">
                            <p class="title">Email:</p>
                            <p class="text">demo&#64;gmail.com</p>
                        </div>
                    </div>
    
                    <div class="card-body d-flex gap-4">
                        <div class="icon">
                            <i class="bi bi-geo-alt-fill"></i>
                        </div>
                        <div class="card-details">
                            <p class="title">Address:</p>
                            <p class="text">132 Dartmouth Street Boston, Massachusetts 02156 United States</p>
                        </div>
                    </div>
    
                    <div class="card-body d-flex gap-4">
                        <div class="icon">
                            <i class="bi bi-clock-fill"></i>
                        </div>
                        <div class="card-details">
                            <p class="title wh">Working Hours:</p>
                            <p class="text"> Mon - Sat | 10:00 AM - 6:00 PM</p>
                        </div>
                    </div>
                    <div class="button-body text-center">
                        <p class="title">Need Help Fast?</p>
                        <div class="btn">
                            <button>Start Live Chat</button>
                            <i class="bi bi-chat-left"></i>
                        </div>
                    </div>
                </div>
    
                <div class="helpDesk">
                    <div class="event">
                        <p class="title">Event Help Desk</p>
                        <p class="description">For Specific Help On :</p>
                        <p class="options"> 1. Booking a Vendor</p>
                        <p class="options"> 2. Modifying an Existing Enquiry</p>
                        <p class="options">3. Vendor Payment or Refunds</p>
                        <p class="options">4. Reporting a Vendor Issue</p>
                        <p class="text">Just mention the topic in your message and our support specialist will direct your query accordingly.</p>
                    </div>
    
                    <div class="connect">
                        <p class="title">Connect with Us</p>
                        <p class="description">Stay updated with offers, inspiration, and featured vendors</p>
                        <p class="options"><img src="assets/contact/ig.svg" alt="">Instagram: &#64;eventographer.in</p>
                        <p class="options"><img src="assets/contact/fb.svg" alt="">Facebook: /eventographer</p>
                        <p class="options"><img src="assets/contact/twitter.svg" alt="">Twitter: &#64;eventographer</p>
                        <p class="options"><img src="assets/contact/globe.svg" alt="">Website: www.eventographer.in</p>
                    </div>
                </div>
            </div>
    
        </div>
    </div>
</div>
